class {{ table_name | capitalize }}(Model):
    __bind_key__ = '{{ db_name }}'  # Nome do banco de dados
    __tablename__ = '{{ table_name }}'  # Nome da tabela

    {% for column in columns %}
    {{ column }}
    {% endfor %}

    {% for fk in foreign_keys %}
    {{ fk }}
    {% endfor %}

    {% for index in indexes %}
    {{ index }}
    {% endfor %}

    {% for unique in unique_indexes %}
    {{ unique }}
    {% endfor %}

    def __repr__(self):
        return "{{ repr_str }}"
